@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-pt-serif: "PT Serif", serif; 
  --font-inter: "Inter", sans-serif; 
  --font-inter-tight: "Inter Tight", sans-serif; 
}

body {
  @apply relative min-h-screen flex items-center bg-white text-gray-900 font-pt-serif;
}

.main-container {
  @apply p-8 md:p-20 max-w-screen min-w-screen lg:min-w-5xl mx-auto items-center ;
}

h1 {
  @apply text-4xl font-bold font-inter-tight;
}

h2 {
  @apply text-2xl font-bold font-inter;
}

h3 {
  @apply text-lg font-bold font-inter;
}

a {
  @apply text-gray-600 underline;
}

.sub-info {
  @apply text-gray-500;
}

.info-row {
  @apply flex flex-col md:flex-row md:gap-1
}

.info-grid {
  @apply grid auto-cols-max grid-cols-1 md:grid-cols-2 gap-x-2;
}
